/*** Footer Styles ***/
footer {
	position: relative;
	z-index: 99;
	width: 100%;
	padding: 10px 15px;
	font-size: .6em;
	letter-spacing: 1px;
	border-top: 1px solid #1a1a1a;
	background-color: #3c3c3c;
}
.footer-nav ul {
	list-style-type: none;
}
.footer-nav ul li {
	display: inline-block;
	padding: 0 15px;
	border-right: 1px solid rgba(0,0,0,.8);
}
.footer-nav ul li:last-child {
	border-right: none;
}
.footer-nav ul li a {
	display: block;
	color: #ffd19b;
}
.footer-nav ul li a:hover {
	color: #ffa741;
}
.footer-logo {
	width: 80px;
	margin: 10px auto;
	opacity: .9;
}
.footer-logo #e-logo {
	display: block;
	width: 100%;
}
.footer-copyright {
	color: rgba(255,255,255,.6);
	line-height: 1.4;
}
.coffee-icon {
	color: #cd853f;
}
.heart-icon {
	color: #ff6666;
}

/** Mobile Stylings **/
@media screen and (max-width: 564px) {
	footer.fixed-footer {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}