/*** Header Styles ***/
/** Logo Area **/
header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 15px;
	border-bottom: 1px solid #1a1a1a;
	background-color: #3c3c3c;
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
header.nav-opened {
	background-color: #2d2d2d;
}
header .display-table {
	padding: 5px 0;
}
.header-logo {
	height: 50px;
}
.header-logo .e-logo {
	display: block;
	height: 100%;
	margin: 0 -5px 0 -13px;
}
.header-title {
	font-size: .9em;
	text-transform: uppercase;
}
.header-title span {
	margin: 0 -3px;
}

/** Login Info Area **/
.login-info {
	height: 60px;
	font-size: .7em;
}
.login-info .login-info-name {

}
.login-info .login-info-controls {
	display: block;
	margin: 5px 0 0 0;
}
.login-info .login-info-controls a {
	margin: 0 5px 0 0;
	color: #ffd19b;
}
.login-info .login-info-controls a:hover {
	color: #ffa741;
}
.login-info .login-info-controls a:last-child {
	margin: 0;
}

/** Mobile Stylings **/
@media screen and (max-width: 564px) {
	header {
		padding: 0 0 0 10px;
	}
	.login-info, .header-logo {
		height: 30px;
	}
}