/* Evan 4 Web CMS Stylings */
/* Author: Evan Paradis */

/* E4W Blue - #a0dfff, E4W Blue Hover - #49c2fc */
/* E4W Orange - #ffd19b, E4W Orange Hover - #ffa741 */

/*** Block Stylings ***/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100%;
}
body {
	font-size: 18px;
	font-family: 'Montserrat';
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	background-color: #1a1a1a;
	background-image: url('../img/body-pattern.png');
	background-repeat: repeat;
}
img, a {
	border: 0;
}
.clear {
	clear: both;
}
.mobile-hidden {
	display: inherit;
}
.mobile-visible {
	display: none;
}
/** Link Styles **/
a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover {
	color: #;
}
/** Heading Styles **/
h1 {
	font-size: 1.2em;
	line-height: 1;
}
h2 {

}
h3 {

}
/** Paragraph Styles **/
p {
	font-size: 1em;
	line-height: 1.4;
}
p:last-child {
	margin-bottom: 0;
}
/** Fake Table Styles **/
.display-table {
	display: table;
}
.display-row {
	display: table-row;
}
.display-cell {
	display: table-cell;
	border-collapse: collapse;
	vertical-align: middle;
}
/** Float Styles **/
.fl {
	float: left;
}
.fr {
	float: right;
}
/** Text Align Styles **/
.ta-center {
	text-align: center;
}
.ta-right {
	text-align: right;
}
.ta-left {
	text-align: left;
}
/** Font Weight Styles **/
.fw-light {
	font-weight: 300;
}
.fw-regular {
	font-weight: 400;
}
.fw-bold {
	font-weight: 600;
}
.fw-bolder {
	font-weight: 700;
}
.fw-black {
	font-weight: 900;
}
/** Colour Styles **/
.e4w-blue {
	color: #a0dfff;
}
/** Containment **/
.wrapper {
	position: relative;
}
.content-wrapper {
	float: right;
	vertical-align: top;
	width: calc(100% - 200px);
	padding: 15px;
}
.content {
	
}
.e4w-card {
	padding: 15px;
	background-color: #4d4d4d;
}
.fat-box {
	height: 20px;
}
/*** Header Styles ***/
/** Logo Area **/
header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3px 15px;
	border-bottom: 1px solid #1a1a1a;
	background-color: #3c3c3c;
}
.header-logo {
	height: 50px;
}
.header-logo .e-logo {
	display: block;
	height: 100%;
	margin: 0 -5px 0 -13px;
}
.header-title {
	font-size: .9em;
	text-transform: uppercase;
}
.header-title span {
	margin: 0 -3px;
}
/** Login Info Area **/
.login-info {
	height: 50px;
	font-size: .7em;
}
.login-info .login-info-name {

}
.login-info .login-info-controls {
	display: block;
	margin: 5px 0 0 0;
}
.login-info .login-info-controls a {
	margin: 0 5px 0 0;
	color: #ffd19b;
}
.login-info .login-info-controls a:hover {
	color: #ffa741;
}
.login-info .login-info-controls a:last-child {
	margin: 0;
}
/*** Side Navigation Styles ***/
.side-nav {
	float: left;
	width: 200px;
	background-color: #4d4d4d;
}
.side-nav ul {
	list-style-type: none;
}
.side-nav ul li a {
	display: block;
	padding: 15px;
	font-size: .7em;
	border-bottom: 1px solid #333;
}
.side-nav ul li a:hover {
	-moz-box-shadow: inset 0 0 25px rgba(0,0,0,.6);
	-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.6);
	box-shadow: inset 0 0 25px rgba(0,0,0,.6);
}
.side-nav ul li a:hover i {
	color: #ffa741;
}
.side-nav ul li.active a {
	-moz-box-shadow: inset 0 0 25px rgba(0,0,0,.6);
	-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.6);
	box-shadow: inset 0 0 25px rgba(0,0,0,.6);
}
.side-nav ul li.active a i {
	color: #ffa741;
}
.side-nav ul li a .display-cell {
	vertical-align: top;
}
.side-nav ul li a .display-cell:first-child {
	padding-right: 5px;
}
.side-nav ul li a i {
	color: #ffd19b;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/** Generic Responsive Navigation Styles **/
#resNavIcon {
	width: 24px;
	height: 15px;
	position: relative;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#resNavIcon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #ffd19b;
	left: 0;
}
/* Open Responsive Navigation Button */
.res-nav-open-btn-container {
	position: absolute;
	top: 57px;
	left: 0;
	text-align: center;
	pointer-events: none;
}
#resNavOpen {
	display: block;
	padding: 10px;
	background-color: #3f3f3f;
	border-right: 1px solid #1a1a1a;
	border-bottom: 1px solid #1a1a1a;
}
#resNavOpen:hover {
	background-color: #4d4d4d;
}
#resNavOpen:hover span {
	background-color: #ffa741;
}
#resNavOpen #resNavIcon span:nth-child(1) {
	top: 0px;
}
#resNavOpen #resNavIcon span:nth-child(2) {
	top: 6px;
}
#resNavOpen #resNavIcon span:nth-child(3) {
	top: 12px;
}

/* Close Responsive Navigation Button */
.res-nav-close-btn-container {
	display: none;
	margin-left: 10px;
	margin-right: -45px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#resNavClose {
	display: block;
	padding: 10px;
	background-color: #3f3f3f;
	border-left: 1px solid #1a1a1a;
}
#resNavClose #resNavIcon span {
	top: 7px;
}
#resNavClose #resNavIcon span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#resNavClose #resNavIcon span:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*** Footer Styles ***/
footer {
	position: relative;
	z-index: 99;
	width: 100%;
	padding: 10px 15px;
	font-size: .6em;
	letter-spacing: 1px;
	border-top: 1px solid #1a1a1a;
	background-color: #3c3c3c;
}
.footer-nav ul {
	list-style-type: none;
}
.footer-nav ul li {
	display: inline-block;
	padding: 0 15px;
	border-right: 1px solid rgba(0,0,0,.8);
}
.footer-nav ul li:last-child {
	border-right: none;
}
.footer-nav ul li a {
	display: block;
	color: #ffd19b;
}
.footer-nav ul li a:hover {
	color: #ffa741;
}
.footer-logo {
	width: 80px;
	margin: 10px auto;
	opacity: .9;
}
.footer-logo #e-logo {
	display: block;
	width: 100%;
}
.footer-copyright {
	color: rgba(255,255,255,.6);
	line-height: 1.4;
}
.coffee-icon {
	color: #cd853f;
}
.heart-icon {
	color: #ff6666;
}
/*** Responsive Styles ***/

/** Tablet Stylings **/
@media screen and (max-width: 959px) and (min-width: 565px) {
	body {
		font-size: 16px;
	}
}

/** Mobile Stylings **/
@media screen and (max-width: 564px) {
	body {
		font-size: 14px;
	}
	.content-wrapper {
		width: 100%;
		padding: 50px 15px 15px;
	}
	header {
		padding: 5px 0 5px 10px;
	}
	.login-info, .header-logo {
		height: 35px;
	}
	body.is-mobile .side-nav {
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.side-nav {
		position: fixed;
		z-index: 101;
		transform: translateX(-100%);
		width: 100%;
		height: 100%;
	}
	.side-nav.nav-opened {
		transform: translateX(0);
	}
	.side-nav ul li a {
		font-size: .9em;
	}
	.res-nav-open-btn-container { 
		pointer-events: inherit; 
	}
	.res-nav-close-btn-container {
		display: inherit;
	}
	.res-nav-close-btn-container.nav-opened {
		margin-right: 0;
	}
	footer.fixed-footer {
		position: fixed;
		bottom: 0;
		left: 0;
	}
	.mobile-hidden {
		display: none;
	}
	.mobile-visible {
		display: inherit;
	}
}

/* Mobile Landscape Stylings */
@media only screen and (orientation: landscape) and (device-width: 320px) {

}