<form class="e4w-login-form fw-light" ng-submit="userLogin(currentUser)">
    <div class="form-row">
        <label>
            <span class="form-title">Email Address</span>
            <input type="email" ng-model="currentUser.login_email" class="input-field" required>
        </label>
    </div>
    <div class="form-row">
        <label>
            <span class="form-title">Password</span>
            <input type="password" ng-model="currentUser.login_password" class="input-field" required>
        </label>
    </div>
    <div class="form-row">
        <button type="submit" class="form-submit fw-light">Log In</button>
    </div>
</form>