<!-- Dependencies -->
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular-route.min.js"></script>
<script src="./js/angular-animate.min.js"></script>
<!-- Functionality -->
<script src="./js/main.js"></script>
<script src="./js/routes.js"></script>
<script src="./js/scroll_functions.js"></script>
<!-- Angular Services -->
<script src="./js/services/user_login.js"></script>
<!-- Angular Controllers -->
<script src="./js/controllers/login.js"></script>
<script src="./js/controllers/navigation.js"></script>
<script src="./js/controllers/dashboard.js"></script>
<script src="./js/controllers/add_products.js"></script>
<script src="./js/controllers/edit_products.js"></script>
<script src="./js/controllers/content_management.js"></script>
<!-- Angular Directives -->
<script src="./js/directives/content_height.js"></script>
<script src="./js/directives/navigation.js"></script>
<script src="./js/directives/header.js"></script>
<!-- Angular Components -->