<!-- Dependencies -->
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular-route.min.js"></script>
<script src="./js/angular-animate.min.js"></script>
<!-- Functionality -->
<script src="./js/main.js"></script>
<script src="./js/scroll_functions.js"></script>
<!-- Angular Controllers -->
<script src="./js/controllers/con_login.js"></script>
<script src="./js/controllers/con_navigation.js"></script>
<script src="./js/controllers/con_dashboard.js"></script>
<script src="./js/controllers/con_add_products.js"></script>
<script src="./js/controllers/con_edit_products.js"></script>
<script src="./js/controllers/con_content_management.js"></script>
<!-- Angular Directives -->
<script src="./js/directives/dir_navigation.js"></script>