<nav class="fw-light side-nav" ng-controller="sideNavCtrl">
	<ul ng-if="loggedInContent">
		<li ng-repeat="navItem in navItems" ng-class="setActiveMenu('{{navItem.nav_link}}')">
			<a href="#{{navItem.nav_link}}" class="navigation-link" ng-click="closeMobileNav()">
				<div class="display-table">
					<div class="display-row">
						<div class="display-cell">
							<i class="fa fa-lg fa-{{navItem.nav_icon}}" aria-hidden="true"></i>
						</div>
						<div class="display-cell">
							{{navItem.nav_title}}
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</nav>